<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Team3BongGuu</display-name>
	<welcome-file-list>
		<welcome-file>main.do</welcome-file>
	</welcome-file-list>


	<servlet>
		<description>FrontController-DispatcheServlet</description>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>com.team3.bongguu.main.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.ck</url-pattern>
	</servlet-mapping>

	<filter>
		<description>권한 처리</description>
		<filter-name>authority</filter-name>
		<filter-class>com.team3.bongguu.util.filter.AuthorityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authority</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.ck</url-pattern>
	</filter-mapping>

	<filter>
		<description>사이트에 레이아웃을 잡는 필터 처리</description>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- 예외처리 -->
	<error-page>
		<error-code>404</error-code>
		<!-- 잘못 요청한 URL은 바뀌지 않는다. - sitemesh 적용 안됨. -->
		<location>/error/404.do</location>
	</error-page>

	<!-- <error-page> -->
	<!-- <exception-type>NullPointException</exception-type> -->
	<!-- <location>/error/null.do</location> -->
	<!-- </error-page> -->
</web-app>